html {
  height: 100vh;
  overflow: hidden;
  font-size: 10px;
}

a {
  text-decoration: none;
}

hr {
  border: 1px solid yellow;
  width: 100%;
}

.hrVisible {
  display: none;
}

img {
  line-height: 6;
  text-align: center;
}

#sectionSplashScreen {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 10rem;
  z-index: -1;
  width: 100%;
  height: auto;
}

.screenResult {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.body1 {
  background-color: black;
  color: beige;
}

.body1 .result {
  display: none;
}

.body1 header {
  border-bottom: 0.3rem solid white;
}

.body1 #clearBTN {
  display: none;
}

.body1 .singleCalcDescripton {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 3.5rem;
  margin: 2rem 0;
}

.body2 .singleCalcDescripton,
.body2 #sectionSplashScreen {
  display: none;
}

.body2 {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #208dd6 0%,
    #034572 25%,
    #a7dcff 51%,
    #240b7e 100%
  );
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

main {
  padding: 2.5rem 4rem;
}

header {
  color: aliceblue;
  background-color: black;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10rem;
}

header span {
  font-size: 3.2rem;
  display: flex;
  justify-self: center;
  align-self: center;
  font-weight: 700;
  margin-left: 2%;
}

.headerBTNs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerBTN {
  color: black;
  background-color: aliceblue;
  border: 0.2rem solid whitesmoke;
  border-radius: 1.5rem;
  height: 5rem;
  width: 20rem;
  padding: 1rem 2rem;
  margin: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms linear;
}

.headerBTN:hover {
  background-color: aquamarine;
  color: darkblue;
}

.operationBtns {
  color: blue;
  background-color: yellow;
  border-radius: 15px;
  border: 1px dashed grey;
  width: 28rem;
  height: 5rem;
  font-size: 2rem;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  margin: 0 1rem;
}

.btns {
  margin-left: 3%;
}

.result {
  border: 0.5rem solid black;
  font-size: 2.4rem;
  margin-top: 2.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  height: 70rem;
  align-self: center;
}

.info {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.headNumber {
  font-weight: bolder;
  font-size: 5rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(229, 255, 0);
}

.resultImage {
  display: grid;
  grid-template-columns: repeat(5, 15rem);
  scale: 0.8;
  top: -9rem;
  position: relative;
}

.matcher1 {
  border: 0.5rem solid black;
  height: 0.1rem;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
}

.matcher2 {
  border: 0.5rem solid black;
  width: 0.1rem;
  height: 100%;
}

.matcher3_right_top {
  border: 0.5rem solid black;
  width: 0.1rem;
  height: 100%;
  transform: rotate(-135deg);
}

.matcher3_right_bottom {
  border: 0.5rem solid black;
  width: 0.1rem;
  height: 100%;
  transform: rotate(-45deg);
}

.matcher3_left_top {
  border: 0.5rem solid black;
  width: 0.1rem;
  height: 100%;
  transform: rotate(-45deg);
}

.matcher3_left_bottom {
  border: 0.5rem solid black;
  width: 0.1rem;
  height: 100%;
  transform: rotate(45deg);
}

.special {
  border: 0.5rem solid yellow;
}

.full {
  border: 0.5rem solid rgb(255, 102, 0);
}

/* Animations */
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media */
@media (max-width: 1060px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 960px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 860px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 760px) {
  .result {
    justify-content: center;
    height: auto;
    width: auto;
    font-size: 2.7rem;
  }

  .info {
    flex-direction: row;
  }

  hr {
    width: auto;
    margin: 0 1rem;
  }

  .hrVisible {
    display: block;
  }
}

@media (max-width: 660px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 560px) {
  html {
    font-size: 5px;
  }
}

@media (max-width: 470px) {
  html {
    font-size: 4px;
  }
}
