a {
  text-decoration: none;
}

hr {
  border: 1px solid yellow;
}

img {
  line-height: 6;
  text-align: center;
}

html {
  height: 100vh;
  overflow: hidden;
}

#sectionSplashScreen {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 100px;
  z-index: -1;
  width: 100%;
  height: auto;
}

.body1 {
  background-color: black;
  color: beige;
}

.body1 .result {
  display: none;
}

.body1 header {
  border-bottom: 3px solid white;
}

.body1 #clearBTN {
  display: none;
}

.body1 .singleCalcDescripton {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  margin: 20px 0;
}

.body2 .singleCalcDescripton,
.body2 #sectionSplashScreen {
  display: none;
}

.body2 {
  width: 100%;
  height: 100vh;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #208dd6 0%,
    #034572 25%,
    #a7dcff 51%,
    #240b7e 100%
  );
  -webkit-animation: AnimateBG 20s ease infinite;
  animation: AnimateBG 20s ease infinite;
}

main {
  padding: 25px 40px;
}

header {
  color: aliceblue;
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

header span {
  font-size: 32px;
  display: flex;
  justify-self: center;
  align-self: center;
  font-weight: 700;
}

.headerBTNs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.headerBTN {
  color: black;
  background-color: aliceblue;
  border: 2px solid whitesmoke;
  border-radius: 15px;
  height: 50px;
  width: 200px;
  padding: 10px 20px;
  margin: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 300ms linear;
}

.headerBTN:hover {
  background-color: aquamarine;
  color: darkblue;
}

.operationBtns {
  color: blue;
  background-color: yellow;
  border-radius: 15px;
  border: 1px dashed grey;
  width: 250px;
  height: 50px;
  font-size: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

.result {
  border: 5px solid black;
  font-size: 24px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  height: 700px;
}

.info {
  margin: 10px;
}

.headNumber {
  font-weight: bolder;
  font-size: 36px;
  text-align: center;
}

.resultImage {
  display: grid;
  grid-template-columns: repeat(5, 150px);
  scale: 0.8;
  top: -60px;
  position: relative;
}

.matcher1 {
  border: 5px solid black;
  height: 1px;
  width: 150px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.matcher2 {
  border: 5px solid black;
  width: 1px;
  height: 150px;
}

.matcher3_right_top {
  border: 5px solid black;
  width: 1px;
  height: 150px;
  transform: rotate(-135deg);
}

.matcher3_right_bottom {
  border: 5px solid black;
  width: 1px;
  height: 150px;
  transform: rotate(-45deg);
}

.matcher3_left_top {
  border: 5px solid black;
  width: 1px;
  height: 150px;
  transform: rotate(-45deg);
}

.matcher3_left_bottom {
  border: 5px solid black;
  width: 1px;
  height: 150px;
  transform: rotate(45deg);
}

.special {
  border: 5px solid yellow;
}

/* Animations */
@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Media */
@media (max-width: 1054px) {
  .resultImage {
    scale: 0.7;
    grid-template-columns: repeat(5, 50px);
    grid-template-rows: repeat(5, 50px);
  }

  html {
    max-height: 100vh;
  }

  .resultImage {
    scale: 0.4;
  }

  .info {
    margin-right: 200px;
  }
}
